@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Urbanist', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.hero{
    background: linear-gradient( #ffffff 36%, #E0E6E9 15%, #E0E6E9 80%, #ffffff 23%);
    
    display: grid;
    grid-template-rows:max-content 1fr;
    grid-template-areas: 
    "nav"
    "content";
    min-height: 100vh;
}

.nav{
    grid-area: nav;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    gap: 1em;
    align-items: center;
    height: 90px;
}

.nav__logo{
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
}

.nav-link{
    font-family: 'Roboto', sans-serif;    
}

.foot{
    display: block;
    
}

.navbar{
    background: #ffffff;
}

.navbar-nav li a{
    color: #08384C;
    
  }

  .navbar-nav li a:hover{
      color:#08384C;
      font-weight:bold;
  }

  
 
